*{
    transition: all 0.1s;
    cursor:inherit;
    word-wrap:normal;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1rem;
    font-size: 1rem;
    cursor:default;
}
@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
body {
  /* Margin bottom by footer height */
    
  margin-bottom: 60px;
}
.body{
   margin-top: 60px; 
}
/*colors
#A4B5BE
#2A4359
#32738C
#88B0BF
#3C92A6*/
/*html{
    overflow-y: scroll;
}*/
/*
html, body{
    
    
    
}

*/
.button{
    cursor: pointer;
}


/*
button,.btn-group .button {
    margin:1px;
    background-color: #88B0BF; 
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}


button:hover, .btn-group .button:hover {
    background-color: #32738C;
}
.button:hover{
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
}
.button i{
    cursor: inherit;
}
.button1,.button2,.button3,.button4,.button5{
    
}*/
.button1 {background-color: #4CAF50;color:white;} /* Green */
.button2 {background-color: #008CBA;color:white;} /* Blue */
.button3 {background-color: #f44336; color:white;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */  
.button5 {background-color: #555555;color:white;} /* Black */
/*
h1{
    font-size: 2rem;
}
*/
a{
    text-decoration: none;
    
    cursor:pointer;
    padding: 0 3px;
}
a:hover:not(.navbar-brand){
    text-decoration: none !important;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
     cursor:pointer;
}
/*@media only screen and (max-width: 600px) {
    .navbar-brand {
        font-size:2rem;
    }
    body{
        font-size:2em;
    }
    .num, .keyword, .sku, .link{
        display:none;
    }
}*/

label{
    padding: 2px;
    margin: 1px;
    
}
div{
    margin: 0;
    padding:0;
}


#tables{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
.table td, .table th{
    vertical-align: middle;
}
th i.sort{
    float:right;
    opacity: 0.5;
}
th i.sort:hover{
    opacity: 1;
    cursor: pointer;
}


.num{
/*    width: 20px;*/
    
    text-align: center;
    cursor:default;
}
i.fa{
    margin: auto;
    cursor: inherit;
}

.num i{
    
}
.link{
    height: 10px;
}
.delete{
    text-align: center;
    font-style: oblique;
    width: 10px;
}
.delete:hover{
    color:#f44336;
}
.save:hover{
    color:#4CAF50;
}
.more:hover{
    color:#008CBA;
}
.graph:hover{
    color:plum;
}


#add{
    height: 50%;
    line-height: 0.5rem;
    font-size: 1rem;
    text-align: center;
}
#add i{
    margin:0 10px;
}
#add span:hover{
    color:black;
}


input{
    cursor:text;
    
}
.main{
    margin-bottom:3rem;
}

/*MODAL*/

.modal table{
    width:90%;
}
#modal-table input{
    width:100%;
}
.root{
    border: 
}
.modal-backdrop {
   background-color: white;
    opacity:0.95 !important;
}
#modal-keyword{
    
    max-height: 300px;
    overflow-y: scroll;
}
.em{
    color:lightgray;
    font-size:0.75em;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 3rem;
  line-height: 2rem; /* Vertically center the text there */
  background-color: #f5f5f5;
    padding: 5px 10px;
    padding-bottom: 20px;
    font-size: 1rem;
}

.less{
    width:5px;
    color:black;
}
.less:hover{
    color:#f44336;
}
.top{
    vertical-align: top;
}
.center{
    text-align: center;
    align-content: center;
}

.Hide{
    display:none;
}